@import url('nav.css');
@import url('article.css');

.landing-content {
	width: 90%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 50px;
	grid-template-rows: minmax(auto, auto);

}

.contact form label {
	display: block; 
	margin: 10px 0;
}

.contact form input,
.contact form textarea {
	width: 100%;
}

.form-footer {
	display:block;
	width: 100%;
	margin-top: 10px;
}

.form-footer .social-media {
	display:inline-block;
}

.form-footer .social-media ul {
	padding: 0;
	margin: 0;
}

.form-footer .social-media li {
	display: inline-block;
}

.form-footer .social-media img {
	width: 30px;
	margin-top: 10px;
}

.btn{
	display: inline-block;
	padding: 10px;

    color: black;
    background-color: transparent;
    font-weight: bold;

    border: none;
    border: 1px solid black;
    border-radius: 3px;
}

.btn-submit {
	float: right;
}

.donate-amount {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr
}

.donate-amount .btn-donate {
	margin: 5px;
	padding: 10px;
	font-weight: bold;

	background: black;
	color: white;
	border: 1px black solid;
}

.btn-paypal {
	margin-top: 20px;
	text-align: right;
}


@media screen and (min-width: 650px) {

}

@media screen and (min-width: 768px){

	.landing-content {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 50px;
	}

}

@media screen and (min-width: 1025px) {

	.social-media {
		padding: 0; 
	}
}

@media screen and (max-height: 746px and min-width: 650px){}
