@import url('nav.css');
@import url('article.css');

.logo h2 {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section-links a.selected, .section-links a.selected:link, .section-links a.selected:visited {
	text-decoration: underline;
}

.article-img{
	text-align: center;
}


@media screen and (min-width: 650px) {

	.social-media{ 
		width: 80%; 
		margin:auto;
	}

}

@media screen and (min-width: 768px){}

@media screen and (min-width: 1025px) {}

@media screen and (max-height: 746px and min-width: 650px){}
