@import url('/nav.css');
@font-face {
	font-family: tbiSerif;
	src: url(fonts/BluuNext-Bold.otf);
}

@font-face {
	font-family: tbiSansSerif;
	src: url(fonts/AktivGrotesk.ttf);
}

body{
	/*color: #FFFFFF;*/
	font-family: tbiSansSerif;
	font-size: 21px;
}

h1, h2 {
	margin: 0;
	font-family: 'tbiSerif';
	display: inline-block;
}

a {
	color: black;
	text-decoration: none;
}

p {
	font-family: 'tbiSansSerif';
	line-height: 30px;
	font-size: 18px;
}

.landing {
	background-color: white;
}

.top-header-content {
	display:flex;
	align-items: center;
	margin: 0 15px;
}

.top-header .mobile-nav-toggle {
	color: black;
	margin: 0;
}

.top-header-content .logo {
	margin: 0;
	width: auto;
	display: inline-block;
	flex-grow:1;
}

.logo h2 {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.top-footer .newsletter input:first-child{
	color: black;
	border-bottom: 1px solid black;
}

.top-footer .newsletter input:first-child::placeholder {
	color: black;
}

.top-footer .newsletter input:last-child{
	color: black;
	border: 1px solid black;
}

.section-links {
	margin: 20px;
	font-family: 'tbiSerif';
	font-size: 21px;
}

.section-links ul {
	list-style-type: none;
	padding: 0;
}
.section-links li{
	margin: 5px;
}

.section-details {
	margin: 20px;
}


@media screen and (min-width: 426px) {

	.top-header-content .logo {
		display:flex;
		flex-grow:2;
		align-items: center;

	}

	.top-header-content .logo h1 {
		margin-right: 10px;
	}

	.top-header ul {
		display: flex;
		width: auto;
	}

	.top-header li:nth-child(2){
		padding: 0;
		flex-grow: 1;
	}

	.top-footer {
		padding: 0;
	}

	.landing-content {
		display: flex;
		width: 90%;
		margin: auto;
	}

	.section-links {
		display: inline-block;
		margin: 0;
		width: 29%;
	}

	.section-links li{
		margin: 10px;
	}

	.section-details {
		display:inline-block;
		width: 70%;

	}
}

@media screen and (min-width: 1025px) {

}
