@font-face {
	font-family: tbiSerif;
	src: url(fonts/BluuNext-Bold.otf);
}

body{
	color: #FFFFFF;
	font-family: sans-serif;
}

img {
	display: inline-block;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

a:visited {
	color: #FFFFFF;
}

h1 {
	font-family: tbiSerif;
}

section {
	padding: 100px 150px;
}

section:nth-child(1) {
	padding: 50px 150px 150px 150px;
	color: gray;
}

section .index {
	
}

footer {
	color: #56009C;
	padding: 50px 150px;
}

.black {
	background-color: #151515
}

.green {
	background-color: #00463B
}

.red {
	background-color: #BB1C20;
}
/* ---------- top header ------------*/
.top-header {
	margin-left: -100px;
	position: relative;
}

.top-header nav, .top-header ul, .top-header li {
	display: inline-block;
}

.top-header nav {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0,-50%);
	width: 75%;
	font-weight: bold;
	text-align: right;
}

.top-header li {
	margin-left: 150px;
	padding: 10px;
}
/* ---------- launch images ------------*/
.launch-images {
	width: 100%;
	white-space: nowrap;
}

.image-link {
	display: inline-block;
	width: 33%;
	position: relative;
}

.image-link img {
	height: 100%;
	width: 100%;
	opacity: 1;
	-webkit-filter: contrast(300%);
	filter: contrast(300%);
	transition: .5s ease;
	backface-visibility: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0.6;
	transition: .5s ease;
	text-align: center;
}

.red.overlay {
	background-color: #FF0036
}

.yellow.overlay {
	background-color: #FFC61E
}
.green.overlay {
	background-color: #00B290
}

.image-link .text {
	color: white;
	font-size: 2.8vw;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	filter: drop-shadow(0 0 3px #000);
}

.image-link:hover img {
	opacity: 0.3;
}
