@font-face {
	font-family: tbiSerif;
	src: url(fonts/BluuNext-Bold.otf);
}

@font-face {
	font-family: tbiSansSerif;
	src: url(fonts/AktivGrotesk.ttf);
}

body{
	color: #FFFFFF;
	font-family: tbiSansSerif;
	font-size: 21px;
}

img {
	display: inline-block;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

a:visited, a:link {
	color: #FFFFFF;
}

h1 {
	font-family: tbiSerif;
}

section:nth-child(1) {
	color: gray;
}

section .index {
	
}

/* LANDING */

.landing {
	background-color: #151515;
	height: 100vh;
}

.container {
	height: 100%;
}

.content {
	height: 100%;
}

.top-header-content {
	height: 100px;
}

.top-header-content .logo {
	width: 100px;
	margin: 20px 10px;
}

.top-header .desktop-nav {
	display: none;
}

.top-header .mobile-nav-toggle {
	display: inline-block;
	float: right;
	margin: 40px 20px;
	font-weight: bold;
	color: white;
}

.top-header .mobile-nav {
	margin-left: 425px;
	height: 100%;
	width: 100%;
	background-color: white;

	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.3s;
}

.mobile-nav-content {
	display: inline-block;
	height: 100%;
	width: 85%;
	background-color: white;
	float: right;
}

.mobile-nav-sidebar {
	display: inline-block;
	width: 15%;
	height: 100%;
	position: fixed;
	background-color: black;
}

.mobile-nav-sidebar .logo {
	width: 50%;
	margin: auto;
	padding: 20px 0;
}


.mobile-nav-sidebar img {
	width: 100%;
	display: block;
}

.mobile-nav-content .header {
	/*background-color: black;*/
	color: #6102A1;
	height: 20%;
	padding: 0 10%;

	display: flex;
	align-items: center;
}

.mobile-nav-content .header h1 {
	display: inline-block;
	margin: 0;
	font-size: 21px;
}

.mobile-nav-content .header a {
	float: right;
	margin: 0;
	margin-left: auto;

	color: #6102A1;
	font-size: 21px;
	font-weight: bold;
}

.mobile-nav-content .image-links {
	height: 220px%;
	display: flex;
	flex-direction: column;
}



.mobile-nav-content .image-links div {
	height: 55px;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	padding: 0 30px;
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 21px;
}

.mobile-nav-content .image-links a {
	color: white;
}

.mobile-nav-content .image-links .knowledge {
	background: url(images/Knowledge-Before.png);
	background-position: 0px -60px;
	background-size: 100%;
}

.mobile-nav-content .image-links .community {
	background: url(images/Community-Before.png);
	background-position: 0px -40px;
	background-size: 100%;
}

.mobile-nav-content .image-links .leadership {
	background: url(images/Leadership-Before.png);
	background-position: 0px -60px;
	background-size: 100%;
}

.mobile-nav-content .image-links .about {
	color: black;
	text-transform: none;
	color: #6102A1;
}

.mobile-nav-content .footer {
	height: 100px;
	padding-right: 30px;
	color: #6102A1;;
	text-align: right;

}

.mobile-nav-content .footer .links {
	display: inline-block;
	height: 100px;
	width: 100%;
	margin: 40px 10px;

	font-family: 'tbiSerif';
	font-size: 18px;
}

.mobile-nav-content .footer .links .circle {
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-right: 10px;

	border: 1px solid #6102A1;
	border-radius: 50%;
	text-align: center;
	color: #6102A1;
	
	line-height: 100px;
}

.mobile-nav-content .footer .info {
	margin-bottom: 20px;
	font-size: 18px;
}


.landing-content-desktop {
	display: none;
}

.landing-content-mobile {
	height: 40%;
	display: flex;
	width: 100%;
}
.landing-content-mobile p {
	text-align: center;
	width: 80%;
	margin: auto;
	font-size: 20px;
	line-height: 28px;
}

.top-footer{
	height: 25%;
	/*padding-bottom: 5%;*/
}

.top-footer-container {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.top-footer .social-media ul {
	padding: 0;
	margin: 0;
}

.top-footer .social-media li {
	display: inline-block;
}

.top-footer .social-media img {
	width: 30px;
	margin-top: 10px;
}

.top-footer .newsletter {
	width: 100%;
}

.top-footer .newsletter input:first-child {
	display: block;
	width: 70%;
	height: 26px;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;

	background-color: transparent;
	color: white;
	border: none;
	border-bottom: 1px solid white;
	padding: 10px 0;
	font-family: 'tbiSerif';
}
.top-footer .newsletter input:first-child:focus {
	outline: none;
}

.top-footer .newsletter input:first-child::placeholder {
	color: white;
}

.top-footer .newsletter input:last-child {
	display: block;
	margin: auto;

	background-color: transparent;
	color: white;
	font-weight: bold;
	border: none;
	border: 1px solid white;
	border-radius: 3px;
	padding: 10px;
}

/* COMMUNITY ------------------------------------ */

.community {
	display: inline-block;
	background-color: #BB1C20;
}

.community .container {
	height: auto;
	width: 80%;
	margin: auto;
}

.community .left {
	display: inline-block;
}

.community .left .title {
	bottom: 0;
}

.community .left img {
	width: 100%;
	clip: rect(0px, 100px,200px,0px);
}

.community .left h1 {
	margin-top: 50px;
}

.community .right {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.community .right p {
	margin-top: 5px;
	line-height: 30px;
}

.community .right .more-tbi-container {
	margin: 50px 0;
	height: 100px;
	width: 100px;
	border: 1px solid white;
	border-radius: 50%;

	text-align: center;
	line-height: 100px;
}

.community .right .more-tbi-link {
	height: 100px;
	width: 100px;

	font-size: 18px;
	font-family: 'tbiSerif';
	font-weight: bold;
}

/* LEADERSHIP ------------------------------------ */

.leadership {
    background-color: #00493C;
    background-repeat: no-repeat;
}

.leadership .container {
	width: 80%;
	margin: auto;
}

.leadership .title-container .title {
	padding: 50px 0;
}

.leadership .title-container p {
	display: none;
}

.leadership .title-container h1 {
	margin: 0;
	bottom: 0;
}

.leadership .carousel h2 {
	margin: 0;
	font-size: 21px;
}

.leadership .carousel h3 {
	font-style: italic;
	font-weight: normal;
	margin: 0;
}

.leadership .carousel .content-group-mobile {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}


.leadership .carousel .content-group-mobile::last-child {
	margin-bottom: 0;
}

.leadership .carousel .arrow {
	display:inline-block;
	width:40%;
}

.leadership .carousel .img-arrow {
	width: 50%;
}

.leadership .carousel .left {
	width: 50%;
}

.leadership .carousel .right {
	display: none;
	height: 100%;
	width: 62%;
}

.leadership .carousel p {
	margin: 0;
}


.leadership .slider .slick-prev {
	margin-left: -7%;
	top: 0;
	background: transparent;
}

.leadership .slider .slick-next {
	margin-right: -7%;
	top: 0;
}


footer {
	display: flex;
	align-items: center;
	
	color: black;
	line-height: 22px;
	font-weight: bold;
	padding: 50px 0;

	font-size: 18px;
}

footer {
	display:none;
}

@media screen and (min-width: 426px) {

	.landing-content-desktop {
		display: block;
		flex-grow: 2;

		display: flex;
		justify-content: center;
		align-items: center;
	}


	.landing .content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	/* LANDING */
	.landing-content-desktop {
		display: block;
		flex-grow: 2;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.landing-content-mobile {
		display:none;
	}

	.content {
		height:95%;
		width: 90%;
		margin: auto;
	}

	.top-header {
		height: 25%;
	}

	.top-header-content {
		height :100%;
		display: flex;
		align-items: center;
	}

	.top-header-content .logo {
		height: 40%;
		width: auto;
	}

	.top-header .desktop-nav, .top-header ul, .top-header li {
		display: inline-block;
		padding: 0;
		margin: 0;
	}

	.top-header ul {
		width: 100%;
	}

	.top-header .mobile-nav-toggle,
	.top-header .mobile-nav {
		display: none;
	}

	.top-header .desktop-nav {
		display: inline-block;
		right: 0;
		flex-grow: 1;
		font-weight: bold;
		text-align: right;
	}

	.top-header li:nth-child(2) {
		padding-left: 27%;
	}

	.landing-content-desktop {
		width: 100%;
		white-space: nowrap;
	}

	.image-link {
		display: inline-block;
		width: 33%;
		padding: 14% 0;
		height: 100%;

		text-align: center;
		text-transform: uppercase;
		color: white;
		font-size: 2vw;
		font-weight: bold;

		transition: .5s ease;
	}
	.landing-content-desktop .knowledge{
		background: url(images/Knowledge-Before.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.landing-content-desktop .leadership{
		background: url(images/Leadership-Before.png);
	    background-size: 100%;
	    background-repeat: no-repeat;
	}

	.landing-content-desktop .community{
		background: url(images/Community-Before.png);
	    background-size: 100%;
	    background-repeat: no-repeat;
	}

	.landing-content-desktop .knowledge:hover {
		background: url(images/Knowledge-After.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.landing-content-desktop .leadership:hover {
		background: url(images/Leadership-After.png);
	    background-size: 100%;
	    background-repeat: no-repeat;
	}

	.landing-content-desktop .community:hover {
		background: url(images/Community-After.png);
	    background-size: 100%;
	    background-repeat: no-repeat;
	}

	.top-footer-container {
		flex-direction: row;
	}

	.top-footer .social-media {
		flex: 1 0 0;
	}

	.top-footer .newsletter {
		flex: 2 0 0;
	}

	.top-footer .newsletter input:first-child {
		display:inline-block;
		width: 50%;
		height: 26px;
		margin: 0;
	}

	.top-footer .newsletter input:last-child {
		float: right;
	}

	/* COMMUNITY */

	.community .container {
		height: 100vh;
		width: 100%;
	}

	.community .left {
		display: inline-block;
		height: 100%;
		width: 25%;
		margin-right: 5%;
		margin-left: 10%;
	}

	.community .left h2 {
		margin: 0;
	}

	.community .left h1 {
		position: absolute;
		bottom: 0;
		margin: 0;
	}

	.community .left .title {
		position: relative;
		height: 15%;
	}

	.community .left img {
		margin: 5% 0;
	}

	.community .left .article-title {
		height: 35%;
		margin-bottom: 5%;
	}

	.community .right {
		display: inline-block;
		width: 50%;
		height: 100%;
		margin-right: 9%;
	}

	.community .right .more-tbi-container {
		height: 25%;
		width: 100%;
		margin: 0;
		margin-top: 10%;
		border: none;
	}

	.community .right .more-tbi-link {
		float: right;
		height: 150px;
		width: 150px;

		border: 3px solid white;
		border-radius: 50%;

		text-align: center;
		line-height: 150px;
	}

	.community .right .article-content {
		margin-top: 20%;
		height: 40%;
	}

	/*Leadership*/

	.leadership {
		background: url(images/what-we-do-bg.png);
		background-size: cover;
	}

	.leadership .container {
		min-height: 100vh;
		height: 100vh;
	}

	.leadership .title-container {
		width: 80%;
		height: 35%;
	}

	.leadership .title-container .title {
		position: relative;
		height: 43%;
	}

	.leadership .title-container p {
		display: block;
		height: 43%;
		margin: 0;
		margin-top: 4%;
		line-height: 30px;
	}

	.leadership .title-container h1 {
		position: absolute;
	}


	.leadership .carousel {
		height: 50%;
		width: 100%;
		margin-top: 10%;
		margin-bottom: 5%;
	}

	.leadership .carousel h2 {
		font-size: 21px;
	}

	.leadership .carousel h3 {
		font-style: italic;
	}

	.leadership .carousel .event {
		display: flex;
	}

	.leadership .carousel .content-group-mobile {
		display: inline-block;
		height: 100%;
		width: 31%;
		margin-right: 6%;
		margin-bottom: 0;
	}

	.leadership .carousel .arrow {
		display:none;
		width:40%;
	}

	.leadership .carousel .left {
		/*display: inline-block;*/
		/*height: 100%;*/
		width: 100%;
		/*margin-right: 6%;*/
	}


	.leadership .carousel .right {
		display: inline-block;
		height: 100%;
		width: 62%;
	}

	.leadership .carousel p {
		line-height: 30px;
	}

	footer {
		display: flex;
		align-items: center;
		
		color: black;
		line-height: 22px;
		font-weight: bold;
		font-size: 14px;
		padding: 50px 0;
	}

	footer img {
		height: 100px;
	}

	footer .footer-item {
		display: inline-block;
	}

	footer .footer-content {
		width: 100%;
		display: flex;
		align-items: center;
	}

	footer .footer-content .logo {
		margin: 0 10%;
		width: 20%;
	}

	footer .footer-content .details {
		margin-right: 5%;
		width: 24%;
	}
}

@media screen and (min-width: 1025px) {
	.landing-content-desktop {
		display: block;
	}


	.landing .content {
		display: block;
	}

	footer {
		font-size: 21px;
	}

	.leadership .title-container {
		width: 55%;
	}
}